<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="header">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <img src="assets/icon/salud.png" alt="">
    <ion-item class="ion-margin-button">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
  </form>
</ion-content>
