<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Lluancet</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1 class="titulo">BIENVENIDO</h1>

  <div class="menu-opcion">
    <ion-card style="height: 170px;">
      <ion-row>
        <ion-col size="3">
          <div style="text-align: center;">
            <img style="height: 150px;" src="https://images.unsplash.com/photo-1542868727-5b8fcd21495e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </ion-col>
        <ion-col size="9">
          <div>
            <ion-card-header>
              <ion-card-title>Pacientes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Presenta detalles de informacion y datos relevantes sobre los pacientes.</p>
              <br>
              <ion-button fill="outline" shape="round">
                Ver
              </ion-button>
            </ion-card-content>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="menu-opcion">
    <ion-card style="height: 170px;">
      <ion-row>
        <ion-col size="3">
          <div style="text-align: center;">
            <img style="height: 150px;" src="https://images.unsplash.com/photo-1633526543814-9718c8922b7a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </ion-col>
        <ion-col size="9">
          <div>
            <ion-card-header>
              <ion-card-title>Ver Citas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Visualiza la informacion de las citas agendadas para los proximos dias.</p>
              <br>
              <ion-button fill="outline" shape="round">
                Ver
              </ion-button>
            </ion-card-content>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="menu-opcion">
    <ion-card style="height: 170px;">
      <ion-row>
        <ion-col size="3">
          <div style="text-align: center;">
            <img style="height: 150px;" src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </ion-col>
        <ion-col size="9">
          <div>
            <ion-card-header>
              <ion-card-title>Crear Cita</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Registra una cita para el manejo del horario de los pacientes.</p>
              <br>
              <ion-button fill="outline" shape="round">
                Ver
              </ion-button>
            </ion-card-content>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
