<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pacientes
      <ion-icon name="person-outline"></ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <form [formGroup]="productForm" (ngSubmit)="savePatient()">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Nombre</ion-label>
            <ion-input placeholder="Ingresa el nombre del paciente" type="text" formControlName="name" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Edad</ion-label>
            <ion-input placeholder="Ingresa la edad del paciente" type="number" formControlName="age" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Celular</ion-label>
            <ion-input placeholder="Ingresa un num.Celular" type="number" formControlName="cel" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Descripcion</ion-label>
            <ion-textarea placeholder="Agrega un descripcion" type="text" formControlName="description"> </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Alergias</ion-label>
            <ion-input placeholder="Ingresa las alergias del paciente" type="text" formControlName="alergias" outline></ion-input>
          </ion-item>

          <ion-item (click)="showPicker=!showPicker" style="font-size: 22px;">
              <ion-label>
                Fecha de Ingreso
              </ion-label>
              <ion-text slot="end">
                {{formattedString}}
              </ion-text>
            </ion-item>
          


          <ion-datetime *ngIf="showPicker" 
          #datetime
          [value]="dateValue" size="cover"
          (ionChange)="dateChanged(datetime.value)"
          showDefaultButtons="true"
          (ionCancel)="showPicker=false;"
          formControlName="fecha"
          >
          </ion-datetime>
        </ion-list>
        <ion-item>    
          <ion-button expand="block" type="submit" [disabled]="!productForm.valid">
            <ion-icon name="medkit-outline"></ion-icon>
              Guardar
            </ion-button>
          </ion-item>
      </form>
    
     
    </ion-card-content>
  </ion-card>
  
</ion-content>