/* Agrega estilos personalizados para el ion-item de la fecha */
.custom-date-item {
  --min-width: 200;
  --min-height: 50;
  --padding-start: 0;
}

/* Ajusta el tamaño del botón según sea necesario */
ion-button {
  max-width: 1080 px; /* Ajusta según tus necesidades */
  margin: 0 auto; /* Centra el botón en el contenedor */
}
/* cart.page.scss */