<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pacientes
      <ion-icon name="person-outline"></ion-icon>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <form [formGroup]="productForm">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input placeholder="Ingresa el nombre del paciente" type="text" formControlName="name" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input placeholder="Ingresa la edad del paciente" type="number" formControlName="age" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Padecimiento</ion-label>
            <ion-textarea placeholder="Ingresa el padecimiento" formControlName="suffering" outline></ion-textarea>
          </ion-item>

          <ion-item (click)="showPicker=!showPicker">
              <ion-label>
                Fecha de Ingreso
              </ion-label>
              <ion-text slot="end">
                {{formattedString}}
              </ion-text>
            </ion-item>
          


          <ion-datetime *ngIf="showPicker" 
          #datetime
          [value]="dateValue" size="cover"
          (ionChange)="dateChanged(datetime.value)"
          showDefaultButtons="true"
          (ionCancel)="showPicker=false;"
          >

          </ion-datetime>

          <ion-item>
            <ion-button expand="block">
              <ion-icon name="medkit-outline"></ion-icon>
              Guardar
            </ion-button>
          </ion-item>

        </ion-list>
      </form>
          
       <!--<ion-button expand="block" type="submit" [disabled]="!productForm.valid">Guardar</ion-button>--> 
      
    
     
    </ion-card-content>
  </ion-card>
  
</ion-content>