<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title> Pacientes </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
    </ion-row>
  </ion-grid>

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-list>
    <ion-item (click)="viewPatient(result.id)" [button]="true" detail="false" *ngFor="let result of results">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>{{result.name}}</strong><br />
        <ion-text>+52 {{result.cel}}</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          {{result.description}} 
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  
</ion-content>