<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendario de Citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <full-calendar [options]="calendarOptions"></full-calendar>
  <ion-modal #modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center;">Informacion de la Cita</ion-title>
          <ion-buttons slot="end">
            <ion-button color="success" (click)="abrirEnlace()">
              <ion-icon name="logo-whatsapp"></ion-icon> Enviar WhatsApp
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Paciente:</ion-label>
          <ion-label slot="end">{{ paciente }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Descripcion:</ion-label>
          <ion-label slot="end">{{ descripcion }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha:</ion-label>
          <ion-label slot="end">{{ fechaFormateada }}</ion-label>
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-item>
            <ion-buttons slot="start">
              <ion-button (click)="actualizarFormulario()" [strong]="true">Actualizar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="eliminar()" [strong]="true">Eliminar</ion-button>
            </ion-buttons>
          </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-modal #modal2 trigger="open-modal2" (willDismiss)="onWillDismiss2($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel2()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Actualizar Cita</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label position="stacked">{{ paciente }}</ion-label>
        <form [formGroup]="addCitaForm" style="margin-top: 15px;" (ngSubmit)="confirm2()">
          <ion-item>
            <ion-input label="Descripcion" labelPlacement="stacked" type="text" placeholder="Descripcion de la cita"
              formControlName="title"></ion-input>
          </ion-item>
          <ion-item (click)="showPicker=!showPicker">
            <ion-label>
              Fecha de cita
            </ion-label>
            <ion-text slot="end">
              {{formattedString}}
            </ion-text>
          </ion-item>

          <ion-datetime *ngIf="showPicker" #datetime [value]="dateValue" size="cover"
            (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker=false;">
          </ion-datetime>

          <ion-button type="submit" expand="block" [disabled]="!addCitaForm">
            Actualizar
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>