<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar {{paciente?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="productForm" (ngSubmit)="updatePatient()">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Nombre</ion-label>
            <ion-input placeholder="Ingresa el nombre del paciente" type="text" formControlName="name" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Edad</ion-label>
            <ion-input placeholder="Ingresa la edad del paciente" type="number" formControlName="age" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Celular</ion-label>
            <ion-input placeholder="Ingresa un num.Celular" type="number" formControlName="cel" outline></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Descripcion</ion-label>
            <ion-textarea placeholder="Agrega un descripcion" type="text" formControlName="description"> </ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Tipo de Sangre</ion-label>
            <ion-textarea placeholder="Agrega tipo de Sangre" type="text" formControlName="tipoSangre"> </ion-textarea>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating" style="font-size: 22px;">Alergias</ion-label>
            <ion-input placeholder="Ingresa las alergias del paciente" type="text" formControlName="alergias"></ion-input>
          </ion-item>

        </ion-list>
        <ion-row >
          <ion-col>
            <ion-button expand="block" type="submit" color="primary" [disabled]="!productForm.valid">
              <ion-icon name="medkit-outline"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button expand="block" (click)="deletePatient(madafaker)" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        
      </form>
    
     
    </ion-card-content>
  </ion-card>
</ion-content>
