<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="calendar-outline"></ion-icon>
      Agendar Cita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="citaForm" (ngSubmit)="saveCita()">
        <ion-list lines="full">
          <ion-item>
            <ion-label>Paciente</ion-label>
            <ion-label slot="end"> {{ paciente?.name }} </ion-label>
          </ion-item>

          <ion-item>
            <ion-input
              type="area"
              placeholder="Descripcion de la cita"
              formControlName="descripcion"
            ></ion-input>
          </ion-item>
          <ion-item (click)="showPicker=!showPicker">
            <ion-label> Fecha de la cita </ion-label>
            <ion-text slot="end"> {{formattedString}} </ion-text>
          </ion-item>

          <ion-datetime formControlName="fecha" min="{{hoy}}" *ngIf="showPicker" #datetime [value]="dateValue" size="cover"
            (ionChange)="dateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker=false;">
            <span slot="time-label">Hora</span>
          </ion-datetime>
        </ion-list>

        <ion-button expand="block" type="submit" [disabled]="!citaForm.valid">
          Guardar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
